<nav class="navbar navbar-default navbar-fixed-top scrollspy" style="border: 0; border-bottom: 1px solid #6b9fc5;  background: transparent; height: 70px;">
    <div class="container">
    
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <a class="navbar-brand" href="#">
                <img src="{{ site.logo_white_url }}" height="35px">
            </a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav pull-right">
            <li style="padding-top: 10px;"><a href="#pageHome" style="color: #fff;">ANA SAYFA</a></li>
            <li style="padding-top: 10px;"><a href="#pageFeatures" style="color: #fff;">ÖZELLİKLER</a></li>
            <li style="padding-top: 10px;"><a href="#pageFAQ" style="color: #fff;">SSS</a></li>
            <li style="padding-top: 10px;"><a href="#pageContact" style="color: #fff;">İLETİŞİM</a></li>
          </ul>
        </div>
    </div>
</nav>