<!-- Start Header -->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Menu</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand scroll" href="#section0"><img src="{{ site.logo_url }}" alt="{{ site.title }}"></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse scrollspy" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#section0">Ana Sayfa</a></li>
                <li><a href="#section1">Hakkımızda</a></li>
                <li><a href="#section2">Tedavi</a></li>
                <li><a href="#section3">Ekip</a></li>
                <li><a href="#testimonials">Mutlu Hastalar</a></li>
                <li><a href="#gallery">Galeri</a></li>
                <li><a href="#location">İletişim</a></li>
            </ul>
        </div>
    </div>
</nav>
<!-- End Header -->